.analytics, .analytics-green, .dashboard, .dashboard-green, .diagonal, .messages, .messages-green, .search, .up-arrow-blue{
	background: url(sprites.png) no-repeat;
	display: block;
}

.analytics{
	background-position: -100px 0;
	width: 58px;
	height: 66px;
}

.analytics:hover{
	background-position: -158px 0;
	width: 58px;
	height: 66px;
}
